@keyframes wave {
    0% { transform: rotate(0.0deg); }
    10% { transform: rotate(20.0deg); }
    20% { transform: rotate(-8.0deg); }
    30% { transform: rotate(20.0deg); }
    40% { transform: rotate(-4.0deg); }
    50% { transform: rotate(10.0deg); }
    60% { transform: rotate(0.0deg); }
    100% { transform: rotate(0.0deg); }
  }
  
  .waving-hand {
    animation: wave 2s linear infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  .group:hover .animate-wave {
    animation: wave 1.5s ease-in-out;
  }

@keyframes circleProgress {
  0% {
    stroke-dashoffset: 283;
    opacity: 1;
  }
  80% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  90% {
    stroke-dashoffset: 0;
    opacity: 1; /* Hold full visibility for a moment */
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0; /* Fade out at the end */
  }
}

.profile-circle {
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  transform: rotate(-90deg);
  transform-origin: center;
  opacity: 1;
}

.profile-circle-animate {
  animation: circleProgress 1s linear forwards;
}

.profile-circle-paused {
  stroke-dashoffset: 283;
  animation-play-state: paused;
  opacity: 0;
}

@keyframes highlightText {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.highlight-active {
  animation: highlightText 0.5s ease-out forwards;
}